body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.main {
    width: 600px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

body p {
    font-weight: bold;
}

body h1 {
    font-size: 350%;
}